/* ID */
#unico{
    color: red;
}

/* Class */
.resaltar{
    font-weight: bold;
}

p{
    font-size: 20px;
}


/* Backgrounds */
/* h1{
    background-color: tomato;
} */

body{
    height: 700px;

    /* background-image: url("../img/logo-css.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */

    /* Short-hand */
    background: white url("../img/logo-css.jpg") center no-repeat;


    /* background-position-x: right; */
    /* background-position-y: bottom; */


    
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase
}

p{
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;


    /* Short-hand */
    font: italic bold 20px Georgia, sans-serif;
}
